<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /eme_inmobiliaria/
	RewriteRule ^(dynamic_images\.php|images_eme\.php|robots\.txt) - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>
<IfModule !mod_rewrite.c>
	ErrorDocument 404 /index.php
</IfModule>